* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  margin: 20px;
  padding: 10px;
}

.film-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.film-container .film-info, .film-container .tv-info {
  width: calc(100% / 6);
  height: calc(100% / 3);
  border: 1px solid black;
}

.film-info ul li, .tv-info ul li {
  list-style: none;
  margin-bottom: 10px;
}

.fas {
  color: gold;
}


img.flag {
  width: 30px;
  height: 20px;
}
