* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 70px;
  background-color: #1a252f;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

header .header-content {
  width: 95%;
  height: 100%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cerca-film {
  padding: 8px;
  outline: none;
  background-color: #1a252f;
  width: 200px;
  border: 1px solid #fff;
  color: #fff;
}

#btn-film {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

header a {
  text-decoration: none;
}

header h1 {
  color: #fff;
}



main {
  background-color: #10181f;
  overflow-y: auto;
  padding-top: 120px;
}

main h1 {
  color: #fff;
  width: 95%;
  margin: auto;
}

.film-wrapper {
  height: 500px;
  position: relative;
  padding: 0 10px;
  margin-bottom: 80px;
}

.film-container, .serie-container {
  height: 100%;
  overflow-x: hidden;
  padding-top: 50px;

  display: flex;
  align-items: center;


}

.arrow-right, .arrow-left {
  font-size: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 400px;
  width: 100px;
  position: absolute;
  top: 75px;
  z-index: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.arrow-right {
  right: 0;
}

.arrow-left {
  justify-content: flex-end;
  left: 0;
}


.film-container .poster, .serie-container .poster {
  width: 280px;
  height: 400px;
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;

  position: relative;
}

.film-container .poster:hover, .serie-container .poster:hover {
  transform: scale(1.1);
}



.cover-img {
  width: 280px;
  height: 100%;
  border-radius: 5px;
}

.layover {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: 5px;


  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.info {
  position: absolute;
  top: 0;
  left: 0;


  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: auto;

  color: #fff;

  display: none;

}

.poster:hover .info, .poster:hover .layover {
  display: block;
}

.info {
  font-size: 13px;
}

.info ul li {
  list-style: none;
  margin-bottom: 5px;
}

.info li span {
  font-weight: bolder;
}

.info > h3 {
  margin-bottom: 8px;
  font-size: 18px;
}

.info ul li > h4 {
  color: #66b3ff;
}

.gold {
  color: gold;
}


img.flag {
  width: 30px;
  height: 20px;
}
