* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  height: 70px;
  background-color: #262626;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

header .header-content {
  width: 95%;
  height: 100%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cerca-film {
  padding: 5px;
  outline: none;
}

#btn-film {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

header a {
  text-decoration: none;
}

header h1 {
  color: #b30000;
}



main {
  background-color: #595959;
  height: 100vh;
  overflow-y: auto;
  padding-top: 120px;
}

.film-container {
  width: 95%;
  height: 100%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
}

.film-container .poster {
  width: calc(100% / 8);
  height: 250px;
  border: 1px solid #fff;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;

  position: relative;

}



.cover-img {
  width: 100%;
  height: 100%;
}

.layover {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

.info {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: auto;

  color: #fff;

  display: none;

}

.poster:hover .info, .poster:hover .layover {
  display: block;
}



.info ul li {
  list-style: none;
  margin-bottom: 5px;
}

.info li span {
  font-weight: bolder;
}

.info h4 {
  margin-bottom: 5px;
}

.gold {
  color: gold;
}


img.flag {
  width: 30px;
  height: 20px;
}


/* media query tablet*/
@media all and (max-width: 900px) {
  .film-container .poster {
    width: 40%;
    height: 350px;
  }

}
